.contact dl,
.doc_wrapper p{margin-top:0;margin-bottom:0}.contact dd a,
                                            .doc_wrapper{color:#757F82}body{background-color:#fff}
.doc_wrapper{min-height:1000px}
.doc_wrapper h2,.doc_wrapper h3{margin-top:0;margin-bottom:0;font-weight:400}
.doc_wrapper h2{padding-top:50px;padding-bottom:30px;line-height:30px;font-size:26px;text-align:center}
.doc_wrapper h3{padding-top:20px;padding-bottom:20px;line-height:30px;font-size:20px}
.doc_wrapper p{padding-top:10px;padding-bottom:10px;line-height:24px;font-size:14px}
.contact{padding-top:80px}.contact dl{padding-left:10%;float:left;width:40%}.contact dt{padding-bottom:16px;line-height:30px;font-size:20px}.contact dd{margin-left:0;line-height:24px;font-size:14px}@media screen and (max-height:1000px){.doc_wrapper{min-height:370px}}