@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    vertical-align: baseline;
    font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background:#FFF;
    -webkit-font-smoothing:antialiased;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    font-size: 1em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
button,input,select{
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a{
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfixs:after{content:".";display:block;height:0;width:0;clear:both;font-size:0}
.clearfixs{zoom:1}
.gray{
    color: #919191;
}
.blue{
    color: #356C9D;
}
.margin-top-15{
    margin-top: 15px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}